.toggle {
  position: relative;
  display: inline-flex;
  width: 38px;
  height: 20px;
  background-color: #5ec343;
  border-radius: 20px;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  border-radius: 20px;
}

.slider::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.input:checked + .slider {
  background-color: #5ec343;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #5ec343;
}

.input:checked + .slider:before {
  transform: translateX(18px);
}
