.button {
  font-family: 'Open Sans';
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 2px solid transparent;
  background: transparent;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 200ms linear;
}

.button:hover:not(:disabled) {
  transition: opacity 0.3s ease-out;
  opacity: 0.5;
}

.button:focus:active {
  outline: 2px solid transparent;
}

.button:focus:not(:disabled) {
  transition: all 250ms linear;
  border: 1px solid #ffc43f;
}

.button:disabled {
  transition: all 250ms linear;
  color: #c3c3c3;
  background-color: #f2f2f2;
  cursor: default;
}

.primary {
  background-color: #5ec343;
}

.secondary {
  background-color: transparent;
  color: #333333;
  border: 1px solid lightgray;
}
