.showcase {
  min-width: 320px;
  max-width: 1280px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 130px minmax(calc(100vh - (68px + 100px + 80px)), 100%) 100px;
  min-height: 100%;
  gap: 40px;
  margin: 0 auto;
  padding: 10px;
}
