.category-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .title {
    font-family: 'Nunito';
    font-size: 38px;
    margin: 0;
  }
  
  .description {
    margin: 0;
  }
  
  .header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .body-wrapper {
    position: relative;
  }
  